* {
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Helvetica';
}

// Tabs
.tab-list {
  display: flex;
  margin-bottom: -1px;
}

.tab-list-item {
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;

  &.is-active {
    background-color: transparent;
  }
}

.tab-panels {
  border: 1px solid #ccc;
}

.tab-panel {
  > * {
    padding: 12px;
  }
}
